@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: "Inter", serif;
	box-sizing: border-box;
}

header {
	background-color: #D9D9D9;
	margin-bottom: 21px;
}

.header-content {
	width: 1316px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
	padding-bottom: 12px;
	align-items: center;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	font-size: 25px;
	font-weight: 500;
}

.header-links {
	display: flex;
	gap: 24px;
} 

.c-111827 {
	color: #111827;
}

.c-4B5563 {
	color: #4B5563;
}

.header-button {
	background-color: #111827;
	padding: 10px 20px;
	border-radius: 6px;
	color: white;
}

.container {
	margin: 0 auto;
	width: 1316px;
}

.main-image {
	margin-bottom: 45px;
}

h1 {
	font-weight: 500;
	font-size: 50px;
}

h2 {
	font-weight: 500;
	font-size: 28px;
	color: rgba(0, 0, 0, 0.60);
	margin: 0;
}

.collections > h1 {
	width: min-content;
	margin: 0 auto;
	margin-bottom: 26px;
}

.collections > h2 {
	white-space: nowrap;
	text-align: center;
}

.button {
	background-color: #000000;
	padding: 8px 37px;
	border-radius: 6px;
	color: white;
	box-sizing: border-box;
}

.collections-items {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: space-between;
	margin-bottom: 24px;
}

.collections-item {
	background-image: url('car.png');
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center; /* Выравнивание текста по центру */
}

.collections-item > p {
	font-weight: 500;
	font-size: 30px;
	color: white;
	white-space: nowrap;
	margin: 0;
	text-align: center; /* Центрирование текста */
	display: flex;
	align-items: end;
}